:root {
  --primary: #ececec;
  --secondary: #dee2e6;
  --primaryclr: #385170;
  --info: #142d4c;
}


.sidebar-header img {
 
  height: auto; /* Maintain aspect ratio */
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Align logo and company name */
  align-items: center; /* Center vertically */
}
nav.navbar.navbar-expand-lg.navbar-dark {
  background: #101044;
}
.logo-name {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
/* Footer.css */

.footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer-text {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  color: #fff;
}

.footer-text a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-text a:hover {
  color: #007bff;
}
/* TodoApp.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.d-block{
  display: block;
}
/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
} */

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="checkbox"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* font-weight: bold; */
}

button {
  padding: 10px 15px;
  color: var(--primaryclr);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Add/Edit and Delete Buttons */
.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
  height: 100%;
  left: 0;
  padding-top: 20px;
  top: 0;
  transition: width .3s;
  width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #45464f;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--primaryclr);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #212224;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #212224;
}

a.article,
a.article:hover {
    background: #212224 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* Customize Bootstrap buttons with custom colors */
.btn-primary {
  background-color: var(--primaryclr);
  border-color: var(--primaryclr);
  color: #ffffff; /* Set the text color to be visible on the light background */
}
.btn-primary:hover {
  background-color: var(--primaryclr);
  border-color: var(--primaryclr);
}

.btn-secondary {
  background-color: #fff;
  border-color: var(--primaryclr);
  color: var(--primaryclr);
}

.btn-success {
  background-color: var(--primaryclr);
  border-color: var(--primaryclr);
  color: #fff; /* Set the text color to be visible on the dark background */
}

.btn-info {
  background-color: var(--info);
  border-color: var(--info);
  color: #fff;
}
.btn-danger {
  background-color:#780d18;
  border-color: #780d18;
  color: #fff;
}

.pagination .page-link {
  border-color: var(--primaryclr);
  color: var(--primaryclr); /* Set the text color to be visible on the dark background */
}

.pagination .page-item.active .page-link {
  background-color: var(--primaryclr);
  
  color: #fff; /* Set the text color to be visible on the dark background */
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Customize alert-danger */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.not-logged-in-message {
  margin-top: 20px;
  color: red;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.8rem;
}
p {
  color: #000;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  transition: width 0.3s;
}

#sidebar.collapsed {
  width: 50px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-header img {
  max-width: 80%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  padding: 8px 0;
}

.list-unstyled li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.list-unstyled li.active {
  background-color: #555;
}

.collapse-btn {
  background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    top: 10px;
    left: 10px;
    margin: 7px;
}

.collapse-btn:hover {
  background-color: #555;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px; /* Adjust the width as needed */
  background-color: #f2f2f2; /* Sidebar background color */
  padding: 20px; /* Adjust the padding as needed */
}

.content {
  flex-grow: 1;
  padding: 20px; /* Adjust the padding as needed */
}
.header-container{
  width: 270px; /* Adjust the width as needed */
  padding: 20px; /* Adjust the padding as needed */

}